<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample game</title>
</head>
<body>
    <script type="text/javascript" src="swfobject.js"></script>
    <script type="text/javascript" src="web_socket.js"></script>
    <script type="text/javascript">
        WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
        
        const socket = new WebSocket('ws://127.0.0.1:8000/ws');
        const username = sessionStorage.getItem('username');
        console.log(sessionStorage.getItem('position'));
          
        socket.onopen = function() {
            socket.send("Hello");  // Sends a message.
        };
        socket.onmessage = function(e) {
        // Receives a message.
            alert(e.data);
        };
        socket.onclose = function() {
            alert("closed");
        };
        
        function update_position() {
            console.log(sessionStorage.getItem('position'));
            let position = Number(sessionStorage.getItem('position'));
            position += 1;
            sessionStorage.setItem('position', String(position));
            socket.send(JSON.stringify({username: username, position: sessionStorage.getItem('position')}));
        }
    </script>
    
    {% for player in players %}
        <p>
    	    {{ player.user.username }} : {{ player.position }}
        </p>
    {% endfor %}
    
    <button onclick="update_position()">move by 1</button>
</body>
</html>